.generic-content{
	p{
		line-height: 1.65;
		margin: 0rem 0;
		font-size:1rem;
		font-weight: 300;
		@mixin atSmall{
			margin: 0 0 1.8rem 0;
			font-size: 1.125rem;
		}
	}
    p a{
		font-weight: 400;
	}
} 