.headline{
	font-weight: 300;
	font-size: 1.9rem;
	color: $blue;
	&__no-t-margin{
		margin-top: 0.77em;
	}
	@mixin atSmall{
		font-size: 2.875rem;
		&__no-t-margin{
			margin-top: 0;
		}
	}
	&__center{
		text-align: center; 
	}
	&__orange{
		color:$orange;
	}
	&__small{
		font-size: 1.275em;
		@mixin atSmall{
			font-size: 1.875em;
		}
	}
	&__narrow{
		max-width: 500px;
		margin: 0 auto;
	}
	&__light{
		font-weight: 100;
	}
	&__b-margin-small{
		margin-bottom: 0.5em;
	}
	&__b-margin-large{
		margin-bottom: 1.6em;
	}
}