.wrapper{
	max-width:1236px;
	overflow: hidden;
	margin:0 auto;
	padding: 0 18px;
	&__medium{
		max-width: 976px;
		width: 100%;
		display: block;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.wrapper{
		padding: 0 0;
	}

	&--no-padding-until-medium{
		padding-left: 0;
		padding-right: 0;
		@mixin atMedium{
			padding: 0 18px;
		}
	}

	&--no-padding-until-large{
		padding-left: 0;
		padding-right: 0;
		@mixin atLarge{
			padding: 0 18px;
		}
	}

	&__b-margin{
		margin-bottom: 1.875rem;
	}
	@mixin atSmall{
		&__b-margin{
			margin-bottom: 3.875rem;
		}	
	}
}    